// ==============================================================================
// Breakpoints (for marketing site)
// ==============================================================================
$iebp: 0 !default;

// breakpoint values
$lap: 480px + $iebp;
$portable: 768px + $iebp;
$desk: 1023px + $iebp;

$palm_down: unquote( "max-width: #{$lap}" );
$lap_up: unquote( "min-width: #{$lap + 1}" );
$lap_down: unquote( "max-width: #{$portable}" );
$portable_up: unquote( "min-width: #{$portable + 1}" );
$portable_down: unquote( "max-width: #{$desk}" );
$desk_up: unquote( "min-width: #{$desk + 1}" );


// ==============================================================================
// Misc. Global Values
// ==============================================================================
$margin: 24px;
$layout_max_width: 1200px;
$border_radius: 3px;

$docsFont: "Arimo", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$docsFontHeadings: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$docsFontHeadingsSpe: "Cabin","HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;


// ==============================================================================
// Colours
// ==============================================================================

// Text colours
$textOnOrange: #ffefb7;

$orange: #ef5e1d;
$orangeLight: #e58b1a;
$orangeDark: #e36f10;

$text: #847C76;
$textHeader: #8e340b;
$textHeaderLight: lighten(#2d2722,10%);

// Links and highlights
$link: #2d96ac;
$highlight: #d2e8bc;

// Accent colours for backgrounds
$yellow: #faefce;
$yellowBorder: darken($yellow,10%);

$green: #86bf19;
$greenLight: #eef6e3;
$greenLightBorder: darken($greenLight,10%);

// Background and meta colours
$bgMeta: #f8f8f8;
$bgMetaBorder: #d3c8bf;
$bgMetaLight: lighten($bgMeta,20%);
$bgMetaDark: darken($bgMeta,5%);
$bgOrange: #ec7500;

// Buttons
$button: #8cad32;

// Layout
$border: #efefef;