<footer class="footer">
  <div class="footer-large">
    <div class="pagewidth">
      <div class="grid">

        <div class="grid__item large--one-quarter medium--one-half push--large--one-sixth">
          <h4 class="footer-title">Shopify Themes</h4>
          <div class="grid">
            <div class="grid__item one-half">
              <p><a href="https://themes.shopify.com/services/themes/guidelines?utm_source=Timber&utm_medium=os" title="Guidelines for selling themes" class="footer-link">Selling Themes</a></p>
            </div>
            <div class="grid__item one-half">
              <p><a href="https://ecommerce.shopify.com/c/ecommerce-design?utm_source=Timber&utm_medium=os" title="Meet the community" class="footer-link">Shopify Forums</a></p>
            </div>
            <div class="grid__item one-half">
              <p><a href="https://www.shopify.com/partners?utm_source=Timber&utm_medium=os" title="Earn money from referrals" class="footer-link">Partner Program</a></p>
            </div>
            <div class="grid__item one-half">
              <p><a href="https://docs.shopify.com/themes/liquid-basics?utm_source=Timber&utm_medium=os" title="Learn the basics of Liquid templating" class="footer-link">Liquid Basics</a></p>
            </div>
          </div>
        </div>

        <div class="grid__item large--seven-twelfths push--large--one-sixth">
          <h4 class="footer-title">Feedback</h4>
          <p>Submit issues on <a href="https://github.com/Shopify/Timber/issues" class="footer-link">GitHub</a>. For general Shopify theme support, reach out to <a href="mailto:themesupport@shopify.com?subject=Timber&nbsp;Feedback" class="footer-link">themesupport@shopify.com</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bar">
    <div class="pagewidth">
      <div class="grid">
        <div class="grid__item large--nine-twelfths">
          Timber {{ page.version }} © by Shopify Inc.
        </div>
        <div class="grid__item large--three-twelfths">
          <a href="https://www.shopify.com?utm_source=Timber&utm_medium=os" title="Shopify Home" class="shopify-logo large--right">Shopify</a>
        </div>
      </div>
    </div>
  </div>

</footer>

<script src="javascripts/libs/modernizr.min.js"></script>
<script src="javascripts/libs/waypoints.js"></script>
<script src="javascripts/timber-site.js"></script>
