<footer class="footer">
  <div class="footer-large">
    <div class="pagewidth">
      <div class="grid">

        <div class="grid-item large--one-quarter medium--one-half push--large--one-sixth">
          <h4 class="footer-title">Shopify Themes</h4>
          <div class="grid">
            <div class="grid-item one-half">
              <p><a href="https://themes.shopify.com/services/themes/guidelines?ref=Timber" title="Guidelines for selling themes" class="footer-link">Selling Themes</a></p>
            </div>
            <div class="grid-item one-half">
              <p><a href="https://ecommerce.shopify.com/c/ecommerce-design?ref=Timber" title="Meet the community" class="footer-link">Shopify Forums</a></p>
            </div>
            <div class="grid-item one-half">
              <p><a href="http://www.shopify.ca/partners?ref=Timber" title="Earn money from referrals" class="footer-link">Partner Program</a></p>
            </div>
            <div class="grid-item one-half">
              <p><a href="http://docs.shopify.com/themes/liquid-basics?ref=Timber" title="Learn the basics of Liquid templating" class="footer-link">Liquid Basics</a></p>
            </div>
          </div>
        </div>

        <div class="grid-item large--seven-twelfths push--large--one-sixth">
          <h4 class="footer-title">Feedback</h4>
          <p>Submit issues on <a href="https://github.com/Shopify/Timber/issues" class="footer-link">Github</a> or send us feedback at <a href="mailto:timber@shopify.com?subject=Timber&nbsp;Feedback" class="footer-link">timber@shopify.com</a>.<br>
            You can follow us on Twitter <a href="https://twitter.com/ShopifyTimber" title="Follow Us" class="footer-link">@ShopifyTimber</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bar">
    <div class="pagewidth">
      <div class="grid">
        <div class="grid-item large--nine-twelfths">
          Timber {{ page.version }} © by Shopify Inc. Built and maintained by the <a href="mailto:timber@shopify.com" title="Corgis rule" class="footer-link">Themes Team</a>.
        </div>
        <div class="grid-item large--three-twelfths">
          <a href="http://www.shopify.com?ref=Timber" title="Shopify Home" class="shopify-logo large--right">Shopify</a>
        </div>
      </div>
    </div>
  </div>

</footer>

<script src="javascripts/libs/modernizr.min.js"></script>
<script src="javascripts/libs/waypoints.js"></script>
<script src="javascripts/timber-site.js"></script>
