{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% include 'breadcrumb' %}

<header class="page-header">
  <h2>Product Collections</h2>
</header>

<div class="grid-uniform">

  {% comment %}
    Loop through each collection, except 'frontpage'
  {% endcomment %}
  {% for collection in collections %}

    {% unless collection.handle == 'frontpage' %}

      {% include 'collection-grid-item' %}

    {% endunless %}

  {% endfor %}

</div>