<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>