/*============================================================================
  #Product and Collection Grids
==============================================================================*/
.sold-out {

}

.on-sale {

}

.grid__image {
  display: block;
  margin: 0 auto ($gutter / 2);

  img {
    display: block;
    margin: 0 auto;
  }
}

/*============================================================================
  #Collection Filters
==============================================================================*/
.active-filter {
  font-weight: bold;
}
