/*============================================================================
  #Site Nav and Dropdowns
==============================================================================*/
.nav-bar {
  background-color: $colorNav;

  ul {
    margin: 0;
  }

  li {
    margin: 0;
  }
}

.site-nav {
  font-size: em(16px);
  cursor: default;

  li {
    margin: 0;
    display: block;
  }

  & > li {
    position: relative;
    display: inline-block;

    &:first-child a {
      padding-left: 0;
    }
  }

  @include at-query ($max, $medium) {
    margin: 0 auto;
    text-align: center;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  padding: $gutter / 2;
  white-space: nowrap;
  color: $colorNavText;

  &:hover,
  &:active,
  &:focus {
    color: darken($colorNavText, 15%);
  }

  .site-nav--active & {
    font-weight: bold;
  }
}

/*================ Dropdowns ================*/
.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  z-index: 5;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  a {
    background-color: $colorNav;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($colorNav, 10%);
    }
  }
}

/*================ Search bar in header ================*/
.nav-search {
  position: relative;
  padding: 7px 0;

  @include at-query ($max, $medium) {
    padding: 0 0 ($gutter / 2);
    margin: 0 auto;
    text-align: center;
  }

  .input-group,
  .input-group-field {
    margin-bottom: 0;
  }
}
