/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: $gutter / 2;

  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  & > div {
    margin-bottom: $gutter / 2;
  }

  ul, ol {
    margin-left: 35px;
  }

  ul {
    @extend ul.disc;
  }

  li {
    margin-bottom: 0.4em;
  }
}

.rte-header {
  margin-bottom: 0;
}
