/*============================================================================
  #Section Headers
==============================================================================*/
.section-header {
  margin-bottom: $gutter / 1.5;
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
  }

  .section-header--title {
    margin-bottom: $gutter / 2.5;
  }

  .section-header--left {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
      margin-bottom: 0;
    }
  }

  .section-header--right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 335px;

    @include at-query ($max, $medium) {
      margin-bottom: $gutter;
    }
  }
}

.section-header--right {

  .form-horizontal,
  .collection-view {
    display: inline-block;
    vertical-align: middle;
  }

  @include at-query ($min, $postSmall) {
    label + select,
    .collection-view {
      margin-left: $gutter / 2;
    }
  }
}

.collection-view {
  display: inline-block;
  border: 1px solid $colorBorder;
  border-radius: $radius;
  padding: 11px;
  height: 37px; // same as form elements

  /*================ Hide SVG icons in oldIE ================*/
  .lt-ie9 & {
    display: none;
  }

  /*================ Only show on larger screens ================*/
  @include at-query ($min, $large) {
    display: inline-block;
  }

  a {
    display: block;
    float: left;
    opacity: 0.7;
    cursor: pointer;

    & + a {
      margin-left: 10px;
    }

    &.collection-view--active {
      opacity: 1;
      cursor: default;
    }
  }

  img {
    display: block;
    opacity: inherit;
  }
}
