/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0 0 $gutter;
  padding: 0;
}

ul { list-style: none outside; }
ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 20px; }
li { margin-bottom: 0.25em; }

ol, ul.square, ul.disc { margin-left: 20px; }
ul.square { list-style: square outside; }
ul.disc { list-style: disc outside; }
ol.alpha { list-style: lower-alpha outside; }

.inline-list li {
  display: inline-block;
  margin-bottom: 0;
}
